h1 {
  margin: 1em auto;
  width: 100%;
  max-width: 1200px;
}
.containers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr repeat(3, 100px) 1fr;
  grid-template-rows: 100px 300px;
  grid-gap: 10px 20px;
}
.containers .item {
  border: 1px solid black;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.gray {
  background-color: gray;
}
