.containers {
  width: 100%;
}

.containers > .header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #111;
}

.containers > .band-wrapper {
}

.containers > .tour-wrapper {
}

.containers > .contact-wrapper {
}

.containers > .footer-wrapper {
}

/* .header-wrapper */
.header-wrapper > .nav-wrap {
  display: flex;
}
.header-wrapper > .nav-wrap > .item {
  padding: 1em;
  color: var(--text-light);
}
.header-wrapper > .nav-wrap > .item:hover {
  padding: 1em;
  color: var(--text-dark);
  background-color: var(--text-light);
}
.header-wrapper > .nav-wrap > .sub-nav-wrap {
}
.header-wrapper > .search-btn {
  color: var(--text-light);
  padding: 1em;
  cursor: pointer;
}
.header-wrapper > .search-btn:hover {
  background-color: #ff6600;
}

/* banner-wrapper */
.banner-wrapper > .banner-img {
  width: 100%;
}
